{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
  {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {goldrush, ".*", {git, "https://github.com/DeadZen/goldrush.git", {branch, "master"}}},
  {exomler, ".*", {git, "https://github.com/erlangbureau/exomler.git", {branch, "master"}}},
  {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git", {branch, "master"}}},
  {mongodb, ".*", {git, "git://github.com/mongodb/mongodb-erlang.git", {branch, "master"}}},
  {emongo, ".*", {git, "https://github.com/jkvor/emongo.git", {branch, "master"}}},
  {gproc, ".*", {git, "git://github.com/esl/gproc.git", {branch, "master"}}}

]}.

{lager, [
  {handlers, [
    {lager_console_backend, [info, {lager_default_formatter, [time," [",severity,"] ", message, "\n"]}]},
    {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
      {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.