<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
            <li <% if (model.routes.sidebar1.active || model.routes.sidebar2.active || model.routes.sidebar3.active) { %>class="bg-info"<% } %>><a href="/workorders"><small>online Консультирование</small></a></li>
            <li><a href="#"><small>Матрица полномочий</small></a></li>
            <li><a href="#"><small>Юридическая консультация</small></a></li>
        </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="btn-group">
            <a title="Не работает? Жми сюда!" target="_blank" href="https://itsm.privatbank.ua/servicedesk/appeal_to_helpdesk.sd">
              <img style="margin-top: 8px;" src="/assets/img/img.png" />
            </a> 
          </div>
        </li>
        <li><a href="#">
              <span class="glyphicon glyphicon-off"></span>
                Выход
              </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<div class="container">
   <content-placeholder/>
</div> <!-- /container -->

<div class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</div>