<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
          <!-- <li <% if (model.routes.sidebar1.active || model.routes.sidebar2.active || model.routes.sidebar3.active) { %>class="bg-info"<% } %> ><a href="/workorders">Консультирование</a></li> -->
          <li><a href="/">Главная страница</a></li> 
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Обращения <span class="glyphicon glyphicon-chevron-down"></span></a>
               <ul class="dropdown-menu" role="menu">
                   <li><a href="/treatment_f">Уровень 1</a></li>
                   <li><a href="/treatment_s">Уровень 2</a></li>
               </ul>
           </li>
          <!--  <li><a href="#">Наследники</a></li> -->

        </ul>

      <ul class="nav navbar-nav navbar-right">
                        <li>
          <div class="btn-group">
            <a title="Не работает? Жми сюда!" target="_blank" href="https://itsm.privatbank.ua/servicedesk/appeal_to_helpdesk.sd">
              <img style="margin-top: 8px;" src="/assets/img/img.png" />
            </a> 
          </div>
        </li>
                        <li class="dropdown">
                              
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>&nbsp;Мой профиль<i class="caret"></i>
                            </a>


                            <ul class="dropdown-menu">
                                
                                    <li>
                                        <a tabindex="-1" href="/admin"><i class="icon-share"></i> Вход в админку</a>
                                    </li>
                                
                                <hr>
                                <li>
                                    <a tabindex="-1" href="/"><i class="icon-off"></i> Завершить работу</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<div class="container">
   <content-placeholder/>
</div> <!-- /container -->


<div class="footer">
  <div class="container">
    <p class="text-muted">ПриватБанк 2014</p>
  </div>
</div>