<td><%= email %></td>
<td><%= phone %></td>
<td><%= vopros %></td>
<td style="width:30px;"><%= created_at %></td>
<td style="width:30px;">
    <% if(working==0) {%>
        <div class="in_work btn btn-success" id="work<%= sh_cli_id %>" data="<%= sh_cli_id %>">в работу</div>
        
    <%} else {%>
        <a class="btn btn-danger" href="/treatment_f/edit/<%= sh_cli_id %>">закрыть</a>
    <%}%>
</td>
<td style="width:30px;">
    <% if(working==1) {%>
        <span class="status label label-danger" id="status<%= sh_cli_id %>">В работе</span>
    <%} else {%>
        <span class="status label label-danger" id="status<%= sh_cli_id %>" style="display:none;">В работе</span>
    <%}%>
</td>