<div id="pageRecord">
	<div class="container">
		<div id="recordView">
		 
				<legend>Вопрос</legend>
				<div style="padding:15px; min-height:150px;">
				  <%= vopros %>  
				</div>

				<br />
				<legend>Ответ</legend>
				<div style="padding:15px; min-height:150px;">
				  <%= otvet %> 
				</div>
				<div id="ratingRequest">
					<h2>Уважаемый клиент!</h2>

					<p>Вы воспользовались услугой консультационного центра ПриватБанка по юридическим вопросам.<br />
					С целью повышения качества обслуживания наших клиентов просим Вас оценить, насколько Вы удовлетворены полученной консультацией.</p>

					<div class="row">
					  <button class="rating btn btn-success" id="1">Удовлетворен</button>
					  <button class="rating btn btn-danger" id="2">Не удовлетворен</button>
					  <button class="rating btn btn-primary" id="3">Оценить позже</button>
					</div>	
	 			</div>	
		</div>	
	</div>
</div>
