<header class="navbar navbar-default">
  <div class="container-fluid">
    <nav>
      <a href="#/" class="navbar-brand">Главная страница</a>
    </nav>
  </div>
</header>

<main class="container-fluid">
  <div class="row">


    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span> Заявки</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-pushpin text-primary"></span><a href="/admin/records"> Закрытые</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-time text-primary"></span><a href="/admin/history"> История</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-folder-close">
                            </span> Обращения</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-pushpin text-primary"></span><a href="/admin/treatments"> Закрытые</a>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10">
             
                 <content-placeholder/>
            
        </div>
    </div>
</div>

 
  
  </div>
</main>

<div class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</div>

