<h2><span class="glyphicon glyphicon-pushpin"></span> Закрытые обращения</h2>

<ol class="breadcrumb">
  <li><a href="/admin">Панель администратора</a></li>
  <li><a href="#">Обращения</a></li>
  <li class="active">Обращения</li>
</ol>

<table class="table">
	<thead>
    <tr>
        <th>Почта клиента</th>
        <th>Телефон клиента</th>
        <th>Вопрос клиента</th>
        <th>Ответ клиенту</th>
        <th>Автор ответа</th>
        <th>Дата ответа</th>
        <th>Дата создания</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>