<h2><span class="glyphicon glyphicon-hand-left"></span> Оценят позже</h2>

<ol class="breadcrumb">
    <li><a href="/admin">Панель администратора</a></li>
    <li><a href="#">Оценка качества консультаций</a></li>
    <li class="active">Оценят позже</li>
</ol>

<table class="table table-striped  table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Дата создания</th>

        <th>Взят в работу</th>
        <th>Кем взят в работу</th>

        <th>Дата ответа</th>
        <th>Кем дан ответ</th>

        <th>Дата оценки</th>
        <th>Оценка качества</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>
