<legend>Проблема</legend>

<p >Постоянная ссылка: <small class="text-primary">http://localhost:8008/record/view/<%= record_id %></small></p>
<div class="well" style="padding:15px; min-height:150px;">
	<%= problem %>	
</div>

<br />
<legend>Решение</legend>
<div class="bg-info" style="padding:15px; min-height:150px;">
	<%= solution %>	
</div>
<div class="well well-sm">
	<div class="container-fluid">
	  <div class="row">
	    <div class="pull-left">Количество слов: 105</div>
  		<div class="pull-right">Ответ предоставил user, <%= created_at %></div>
	  </div>
	</div>
</div>

