<div class="row">
        <div class="col-xs-6">
            <div style="height:50px">
                <p class="lead">Детали заявки</p>
            </div>

            <fieldset>
                <div style="height: 50px;overflow-y: auto;">
                    <h5>Заголовок: <strong><%= description %></strong></h5>
                </div>
            </fieldset>

            <fieldset>
                <legend>Проблема</legend>
                <div style="height: 125px;overflow-y: auto;">
                    <p><%= info %></p>
                </div>
            </fieldset>

            <fieldset>
                <legend>Вложения</legend>
                <div class="list-group" >
                    <% _.each(attachments,function(item,key,list){ %>
                    <a href="/api/get_order_file/?oid=<%= item.oid %>&fileName=<%= item.filename %>&sc_oid=<%= item.entityOid %>" class="list-group-item">
                        <p class="list-group-item-text"><span class="glyphicon glyphicon-save"></span> <%= item.filename %></p>
                    </a>
                    <% }) %>
                </div>
            </fieldset>

        </div>
        <div class="col-xs-6">
            <div style="height:50px">
                <div class="btn btn-primary" style="float:left; margin-right:10px;" id="set_order_work">В работу</div>
                <div class="btn btn-default" style="float:left; margin-right:10px;">Назначить</div>
                <div class="btn btn-default" style="float:left; margin-right:10px;" disabled="disabled" id="temp_result">Временное решение</div>
                <div class="btn-group">
                    <a type="button" class="btn btn-primary" disabled="disabled" id="close_order" href="/workorders/edit/<%= oid %>">Закрыть</a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" disabled="disabled" id="close_dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Вернуть</a></li>
                        <li><a href="#">Забраковать</a></li>
                    </ul>
                </div>
            </div>

            <fieldset>
                <div style="height: 50px;overflow-y: auto;">
                </div>
            </fieldset>

            <fieldset>
                <legend>Решение</legend>
                <div style="height: 175px;overflow-y: auto;">
                    <p><%= solution %></p>
                </div>
            </fieldset>

        </div>
    </div>