<div role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-form">
                <div class="btn btn-primary" id="btn_refresh"><span class="glyphicon glyphicon-refresh"></span> Обновить</div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <div class="navbar-form">
                        <select class="selectpicker span2" id="order_status">
                            <option value="WORK">Новый/В работе</option>
                            <option value="REGISTERED">Новый</option>
                            <option value="OPEN">В работе</option>
                            <option value="APPROVED">На одобрении</option>
                            <option value="REDMINE">PrivatProject</option>
                            <option value="CLOSED">Закрыто</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div id="form_closed_status" style="display:none;">
                        <div class="input-daterange input-group" id="datepicker">
                            <input id="fromdate" type="text" class="form-control" name="start" value="" />
                            <span class="input-group-addon">по</span>
                            <input id="todate" type="text" class="form-control" name="end"  value="" />
                        </div>
                    </div>
                </li>
            </ul>
<!--             <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input placeholder="Что будем искать?" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Поиск</button>
            </form> -->
        </div><!--/.navbar-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <fieldset>
                <div style="overflow-y: auto;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>№ заявки</th>
                            <th>Дата создания</th>
                            <th>Автор заявки</th>
                            <th>ОС</th>
                            <th>Заголовок</th>
                            <th>Статус</th>
                            <th>№ ордера</th>
                            <th>Приоритет</th>
                            <th>Назначего группе</th>
                            <th>Кому назначено</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="orders">
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>

        <div id="orderInfo" style="margin-top:15px;"></div>
    </div>
</div>